/* :root,
[data-bs-theme=light] {
    --bs-primary: #123456;
} */


/* 
 :root{
    --bs-primary: #123456;
 } */

 /* body{
    background:green ;
 } */


 .nav-link{
    /* color:black; */
    color:beige;
 }