:root {
    --mainColor: 210;
    --accent: calc(var(--mainColor) - 170);
  }
  

body,html{
    padding:0;
    margin:0;
    /* font-family: monospace; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow:hidden;
}
.bg{
    width:150vh;
    height:150vh;
    position:absolute;
    /* background:hsl(360, 0%, 99%); */
    z-index:-1;
    border-radius: 50%;
    background:hsl(var(--mainColor), 65%, 98%);
}

nav{
    display:flex;
    justify-content: flex-end;
    /* align-content: center; */
    /* background:green; */
    gap:1rem;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slidecontainer{
    flex:1;
}
.slidecontainer > .colorSlider{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */

    /* transform: rotate(-45deg); */

    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    /* margin-top:10px; */
    /* background: black; */
}

nav span{
    padding:0.66rem;
}

nav span:hover{
    /* line-height: 3rem; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

nav button{
    font-size: 1rem;
    padding:0.66rem;
    background:hsl(var(--mainColor), 65%, 20%);
    color:white;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    color:hsl(var(--mainColor), 65%, 20%);
}

h1 span:nth-child(1){
    color:hsl(var(--mainColor), 65%, 20%);
}
h1 span:nth-child(2){
    color:hsl(var(--mainColor), 65%, 25%);
}
h1 span:nth-child(3){
    color:hsl(var(--mainColor), 65%, 30%);
}
h1 span:nth-child(4){
    color:hsl(var(--mainColor), 65%, 35%);
}
h1 span:nth-child(5){
    color:hsl(var(--mainColor), 65%, 40%);
}
h1 span:nth-child(6){
    color:hsl(var(--mainColor), 65%, 45%);
}
h1 span:nth-child(7){
    color:hsl(var(--mainColor), 65%, 50%);
}

span:hover{
    
    font-family: monospace;
    font-size: 1.1em;
    cursor:grab;
}

.app{
    max-width: 500px;
    min-width:100px;
    padding:1rem;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.app input{
    padding: 0.66rem;
    border-radius: 1rem;
    width:100%;
    border:1px solid gray;
    
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.692));
}

.app input:hover{
    margin-top: -2px;
    border:2px solid gray;
}

.apps-list{
    display:block;
    position: absolute;
    top:5rem;
    width:300px;
    height:fit-content;
    border-radius: 5px;
    background:white;
    border: 1px solid gray;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:1rem;

}

.hide{
    display:none;    
}

.action-btn{
    margin: 1rem;
    background:gainsboro;
    border:none;
    padding: 0.66rem;
    width:fit-content;
    /* tex */
}


.apps-list > div{
    text-align: center;
}

.apps-list img{
    width:50px;
    height:50px;
}


.wrapper{
    width:100%;
    height:10rem;
    display:flex;
    justify-content: space-evenly;
}

.wrapper .block{
    width:6.9rem;
    height:6.9rem;
    background: hsl(360, 0%, 95%);
}

.block:hover{
    background: hsl(360, 0%, 100%);
}

.block-b{
    transform:rotate(45deg)
}

.result{
    height:2rem;
}

.label{
    width:fit-content;
    height:2rem;
    position:absolute; 
    transform: rotate(-90deg);
    top:calc(50vh - 50px);
    right:-2.3rem;
    padding:10px;
    color:black;
    background:hsl(var(--accent), 100%, 46%);
}

.label:hover{
    right:-2rem;
}

footer{
    text-align: center;
}

a:visited, a{
    color:#123456;
}

span::first-letter{
    color:hsl(var(--accent), 100%, 46%);
    font-size: 1.6em;
}