#board{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px ;
    gap:2px;
}

.tile{
    font-size: 100px;
    text-align: center;

    border: 1px solid gray;
}